body{
  background-color: #FEB139;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: black;
}

h2 {
  color: black;
}

h1 {
  color: black;
}
